@model ProjectWebSaleLand.Shared.Model.Product.ProductViewModels
@using ProjectWebSaleLand.Shared
<div class="table-responsive">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Danh sách nhà đang bán
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-striped table-bordered dt-responsive nowrap table table-striped jambo_table bulk_action" id="datatable-responsive" cellspacing="0" style="width:100%;">
                <thead>
                    <tr class="headings">
                        <th class="column-title text-center">Tên</th>
                        <th class="column-title text-center">Khu vực</th>
                        <th class="column-title text-center">Địa chỉ</th>
                        <th class="column-title text-center">Chiều dài</th>
                        <th class="column-title text-center">Chiều rộng</th>
                        <th class="column-title text-center">Diện tích</th>
                        <th class="column-title text-center">Pháp lý</th>
                        <th class="column-title text-center">Điện thoại</th>
                        <th class="column-title text-center">Hình ảnh</th>
                        <th class="column-title text-center">Tùy chỉnh</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListProduct != null)
                    {
                        for (int i = 0; i < Model.ListProduct.Count; i++)
                        {
                            string styleRow = "row-evenItem";
                            if (i % 2 == 0)
                            {
                                styleRow = "row-oddItem";
                            }
                            var item = Model.ListProduct[i];
                            <tr class="@styleRow">
                                <td style="color:#34495e; font-weight:bold; text-align: center;" class="moretext">&nbsp;&nbsp;&nbsp;@item.Name</td>
                                <td style="color:#34495e; font-weight:bold; text-align: center;" class="moretext">&nbsp;&nbsp;&nbsp;@item.Location</td>
                                <td style="color:#34495e; font-weight:bold; text-align: center;" class="moretext">&nbsp;&nbsp;&nbsp;@item.Address</td>
                                <td style="color:#34495e; font-weight:bold; text-align: center;" class="moretext">&nbsp;&nbsp;&nbsp;@item.Length</td>
                                <td style="color:#34495e; font-weight:bold; text-align: center;" class="moretext">&nbsp;&nbsp;&nbsp;@item.Width</td>
                                <td style="color:#34495e; font-weight:bold; text-align: center;" class="moretext">&nbsp;&nbsp;&nbsp;@item.Acreage</td>
                                <td style="color:#34495e; font-weight:bold; text-align: center;" class="moretext">&nbsp;&nbsp;&nbsp;@item.Right</td>
                                <td style="color:#34495e; font-weight:bold; text-align: center;" class="moretext">&nbsp;&nbsp;&nbsp;@item.Phone</td>
                                <td style="color:#34495e; font-weight:bold; text-align: center; ">&nbsp;&nbsp;&nbsp;
                                @if (!string.IsNullOrEmpty(item.ImageURL))
                                {
                                    <img id="upload-preview" src="@item.ImageURL" height="50" width="50" class="img-circle" />
                                }
                                else
                                {
                                    <img id="upload-preview" class="img-circle" src="@Commons.Image100_100" height="50" width="50" />
                                }
                                </td>
                                <td style="text-align: center; ">
                                    <a href="#"
                                       onclick="ShowViewOrEdit('@Url.Action("View", "House", new { id = item.ID })')"
                                       class="btn btn-primary btn-xs view details"><i class="fa fa-eye"></i>&nbsp;Xem</a>&nbsp;&nbsp;
                                    <a href="#"
                                       onclick="ShowViewOrEdit('@Url.Action("Edit", "House", new { id = item.ID })')"
                                       class="btn btn-info btn-xs edit details"><i class="fa fa-edit"></i>&nbsp;Sửa</a>&nbsp;&nbsp;
                                    <a href="#"
                                       onclick="ShowViewOrEdit('@Url.Action("Delete", "House", new { id = item.ID})')"
                                       class="btn btn-danger btn-xs delete details"><i class="fa fa-trash-o"></i>&nbsp;Xóa</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var showChar = 30;

        $('.moretext').each(function () {
            var content = $(this).text();
            if (content.length > showChar) {
                var html = content.substr(0, showChar);
                html = html + "...";
                $(this).html(html);
            }

        }); 

        var handleDataTableButtons = function () {
            if ($("#datatable-buttons").length) {
                $("#datatable-buttons").DataTable({
                    dom: "Bfrtip",
                    responsive: true
                });
            }
        };

        TableManageButtons = function () {
            "use strict";
            return {
                init: function () {
                    handleDataTableButtons();
                }
            };
        }();

        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({
            keys: true
        });

        var table = $('#datatable-responsive').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": [8, 9] },
                { "width": "10%", "targets": [0,1,2,3,4,5,6,7,8,9] },
            ],
            "order": [[0, 'asc']],
            "displayLength": 25,
        });

        var table = $('#datatable-fixed-header').DataTable({
            fixedHeader: true
        });

        TableManageButtons.init();
    });
</script>