@model ProjectWebSaleLand.Shared.Model.Product.ProductModels
@using ProjectWebSaleLand.Shared
@{
///Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}
@{ int index = 1;}
<div role="main" class="right_col">
    <div class="">
        <div class="page-title">
            <div class="title_left" style="padding: 10px 0px;">
                @Html.Partial("~/Areas/Administration/Views/Shared/_breadcrumb.cshtml",
                    new Dictionary<string, string> { { "A", "Quản lý" }, { "B", "Nhà" }, { "C", "Chi tiết" } })
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                    <div class="x_content">
                        <div class="row text-right">
                            <ul class="header-buttons pull-right list-inline">
                                <li><a href="javascript:void(0)" onclick="CloseDetail(); return false;" class="btn btn-danger" id="btn-delete"><i class="fa fa-times"></i>&nbsp;Đóng</a></li>
                            </ul>
                        </div>
                        <div class="row form-horizontal form-label-left">
                            <div class="row form-horizontal form-label-left" style="margin-bottom:15px;">   
                                <div class="form-group">

                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Hình ảnh</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @if (!string.IsNullOrEmpty(Model.ImageURL))
                                        {
                                            <img id="upload-preview" src="@Model.ImageURL" height="100" width="200" class="" />
                                        }
                                        else
                                        {
                                            <img id="upload-preview" class="" src="@Commons.Image100_100" height="200" width="100" />
                                        }
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Tên</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Name
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Khu vực</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Location
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Địa chỉ</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Address
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Địa chỉ 1</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Address1
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Địa chỉ 2</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Address2
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Điện thoại 1</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Phone1
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Điện thoại 2</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Phone2
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Chiều dài</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Length
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Chiều rộng</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Width
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Diện tích</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Acreage
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Phòng ngủ</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.BedRoom
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Phòng khách</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.LivingRoom
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Phòng tắm</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.BathRoom
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Pháp lý</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Right
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Tầng</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Floor
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Mô tả</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Description
                                    </div>
                                </div>

                                @if (Model.ListImageUrl != null)
                                {
                                    <div>
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12"><b>DÁNH SÁCH HÌNH ẢNH</b></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12"></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <table class="table tab-content">
                                                <tbody>
                                                    @for (int i = 0; i < Model.ListImageUrl.Count; i++)
                                                    {
                                                        <tr>
                                                            <td>Hình số @index</td>
                                                            <td>@Model.ListImageUrl[i]</td>
                                                        </tr>
                                                        index++;
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
