@model ProjectWebSaleLane.Shared.Model.Customer.ClientLoginModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="SHORTCUT ICON" href="/favicon.ico" />
    <link rel="stylesheet" href='@Url.Content("~/Libaraies/vendors/bootstrap/dist/css/bootstrap.min.css")'>
    <!-- jQuery -->
    <script type="text/javascript" src="@Url.Content("~/Libaraies/vendors/jquery/dist/jquery.min.js")"></script>
    <!--Bootstrap-->
    <script src="@Url.Content("~/Libaraies/vendors/bootstrap/dist/js/bootstrap.min.js")"></script>

    <link href="@Url.Content("~/Content/css/styles2.css")" rel="stylesheet" />
    <style type="text/css">
        .btn-facebook {
            color: #ffffff;
            -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            background-color: #2b4b90;
            *background-color: #133783;
            background-image: -moz-linear-gradient(top, #3b5998, #133783);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
            background-image: -webkit-linear-gradient(top, #3b5998, #133783);
            background-image: -o-linear-gradient(top, #3b5998, #133783);
            background-image: linear-gradient(to bottom, #3b5998, #133783);
            background-repeat: repeat-x;
            border-color: #133783 #133783 #091b40;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        }

            .btn-facebook:hover,
            .btn-facebook:focus,
            .btn-facebook:active,
            .btn-facebook.active,
            .btn-facebook.disabled,
            .btn-facebook[disabled] {
                color: #ffffff;
                background-color: #133783 !important;
                *background-color: #102e6d !important;
            }

            .btn-facebook:active,
            .btn-facebook.active {
                background-color: #0d2456 \9 !important;
            }
        input[type="checkbox"]:not(old), input[type="radio"]:not(old){
            opacity:0.7 !important;
        }
    </style>
    <link href="@Url.Content("~/Content/css/Site.css")" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="header-line"></div>
        <a href="/">
            <div class="wrapper">
            </div>
        </a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default" style="margin-top:10%">
                    <div class="panel-heading">
                        <h3 class="panel-title">Đăng Nhập</h3>
                    </div>
                    <div class="panel-body">
                        @using (@Html.BeginForm("SignIn", "Login", FormMethod.Post, new { @class = "form-horizontal create-form", @enctype = "multipart/form-data",@style= "margin-top:5%" }))
                        {
                            <fieldset>
                                <div class="form-group">
                                    <div class="inner-addon left-addon">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "Email", @placeholder = "Tên đăng nhập",@style="width:95%;margin:auto" })
                                        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "label label-danger",@style= "margin-left: 3%" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="inner-addon left-addon">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @id = "Password", @placeholder = "Mật khẩu", @style = "width:95%;margin:auto" })
                                        @Html.ValidationMessageFor(model => model.Password, null, new { @class = "label label-danger", @style = "margin-left: 3%" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.IsRemember, new { @id = "RememberMe", @checked = true })
                                    <label for="RememberMe">Lưu đăng nhập</label>
                                    <br />
                                </div>
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Đăng Nhập">
                            </fieldset>
                        }
                        <hr />
                        <center><h4>OR</h4></center>
                        <input class="btn btn-lg btn-facebook btn-block" type="submit" value="Đăng Nhập Với Facebook">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="wrapper-footer">
            <span>©2017 Foody Corporation. Lầu 8, Tòa nhà Jabes 1, 244 Cống Quỳnh, P. Phạm Ngũ Lão, Quận 1, TP.HCM</span>
            <span style="margin-bottom:5px;">Số giấy phép ĐKKD: 0311828036 do sở Kế hoạch và Đầu Tư TPHCM cấp ngày 11/06/2012</span>
        </div>
        <div class="footer-line"></div>
    </footer>
</body>
</html>