@model ProjectWebSaleLand.Shared.Model.Product.ProductViewModels
@using ProjectWebSaleLand.Shared
@{
    Layout = "~/Areas/ClientSite/Views/Shared/_Layout.cshtml";
}
<div id="preloader"></div>
<!-- Main Slider start -->
<section class="at-main-slider">
    <div class="flexslider">
        <ul class="slides">
            <li data-thumb="@Url.Content("~/Images/1.jpg")">
                <img src="@Url.Content("~/Images/1.jpg")" alt="">
                <p class="flex-caption">
                    Lựa chọn tốt nhất <span>Dream</span>
                    <em style="color: #fff; font-size: 14px; float: right; text-transform: none !important; ">nhadatthachminh.com <br /><i class="icofont icofont-ui-head-phone"></i> +84 988 138 565</em>
                </p>
            </li>
            <li data-thumb="@Url.Content("~/Images/2.jpg")">
                <img src="@Url.Content("~/Images/2.jpg")" alt="">
                <p class="flex-caption">
                    Không gian thoáng mát <span>Space</span>
                    <em style="color: #fff; font-size: 14px; float: right; text-transform: none !important; ">nhadatthachminh.com <br /><i class="icofont icofont-ui-head-phone"></i> +84 988 138 565</em>
                </p>
            </li>
            <li data-thumb="@Url.Content("~/Images/3.jpg")">
                <img src="@Url.Content("~/Images/3.jpg")" alt="">
                <p class="flex-caption">
                    Kết hợp nội thất sang trọng <span>Furniture</span>
                    <em style="color: #fff; font-size: 14px; float: right; text-transform: none !important; ">nhadatthachminh.com <br /><i class="icofont icofont-ui-head-phone"></i> +84 988 138 565</em>
                </p>
            </li>
            <li data-thumb="@Url.Content("~/Images/4.jpg")">
                <img src="@Url.Content("~/Images/4.jpg")" alt="">
                <p class="flex-caption">Vị trí phù hợp <span>Area</span>
                    <em style="color: #fff; font-size: 14px; float: right; text-transform: none !important; ">nhadatthachminh.com <br /><i class="icofont icofont-ui-head-phone"></i> +84 988 138 565</em>
                </p>                
            </li>
            <li data-thumb="@Url.Content("~/Images/5.jpg")">
                <img src="@Url.Content("~/Images/5.jpg")" alt="">
                <p class="flex-caption">Giá trị cuộc sống <span>Life values</span>
                    <em style="color: #fff; font-size: 14px; float: right; text-transform: none !important; ">nhadatthachminh.com <br /><i class="icofont icofont-ui-head-phone"></i> +84 988 138 565</em>
                </p>                
            </li>
        </ul>
    </div>
</section>
<!-- Main Slider end -->
<!-- Main Search start from here -->
<section class="main-search-field">
    <div class="container">
        @using (@Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-horizontal create-form", @enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="at-col-default-mar">
                        @Html.DropDownListFor(model => model.CateID,
         new SelectList(Model.ListCate, "Value", "Text", Model.CateID), "Thể loại",
         new
         {
             @class = "form-control select2_multiple has-feedback-left",
             @id = "CateDdl",
             @style = "width:100%;"
         })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="at-col-default-mar">
                        @Html.DropDownListFor(model => model.AreaID,
                        new SelectList(Model.ListArea, "Value", "Text", Model.AreaID), "Khu vực",
                        new
                        {
                            @class = "form-control select2_multiple has-feedback-left",
                            @id = "AreaDdl",
                            @style = "width:100%;"
                        })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="at-col-default-mar">
                        @Html.DropDownListFor(model => model.SegmentID,
                        new SelectList(Model.ListSeg, "Value", "Text", Model.SegmentID), "Phân khúc",
                        new
                        {
                            @class = "form-control select2_multiple has-feedback-left",
                            @id = "SegmentDdl",
                            @style = "width:100%;"
                        })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="at-col-default-mar">
                        <button class="btn btn-default hvr-bounce-to-right" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        }

    </div>
</section>
<!-- Main Search End -->
<!-- About start from here -->
@*<section class="at-about-sec">
    <div class="container">
        <div class="row animatedParent animateOnce">
            <div class="col-lg-7 col-md-12">
                <div class="at-about-col at-col-default-mar">
                    <div class="at-about-title">
                        <h1>Nhà Đất Thạch Minh<br> <span>Chích sách</span></h1>
                        <h6>Quyền lợi</h6>
                    </div>
                    <p>NhaDatThachMinh.com có trách nhiệm chuyển tải thông tin. Chúng tôi không chịu bất kỳ trách nhiệm nào từ các tin này..</p> <br>

                    <p>Thị trường mua bán nhà đất tại Việt Nam luôn diễn ra nhộn nhịp và vô cùng sôi động. Bên cạnh đầu tư vào đất nền, đất thổ cư thì những dự án bất động sản khác như căn hộ chung cư tiềm năng hoặc những căn nhà có mặt bằng đẹp,...</p>
                </div>
            </div>
            <div class="col-lg-5 hidden-md">
                <div class="at-about-col animated fadeInRightShort slow delay-250">
                    <img src="@Url.Content("~/Images/about/1.png")" alt="">
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- About End -->
<!-- Call start from here -->
<section class="at-Call-sec jarallax at-over-layer-black">
    <div class="at-Call-both-side clearfix">
        <div class="at-Call-left">
            <div class="at-inside-Call">
                <h5>Lựa chọn của bạn</h5>
                <h2>Văn phòng chúng tôi</h2>
            </div>
        </div>
        <div class="at-Call-right">
            <div class="at-Call-right-inside">
                <h2>Chúng tôi sẵn sàng cung cấp mọi thông tin cho khách hàng</h2>
                <div class="at-short-line"></div>
                <h3><span>+84 988 138 565</span></h3>
            </div>
        </div>
    </div>
</section>
<!-- Call End -->
<!-- Property start from here -->
<section class="at-property-sec">
    <div class="container">
        @*<div class="row">
            <div class="col-md-6">
                <div class="at-sec-title at-sec-title-left">
                    <h2>Giá trị <span>Trách nhiệm</span></h2>
                    <div class="at-heading-under-line">
                        <div class="at-heading-inside-line"></div>
                    </div>
                    <p>Cung cấp cho các nhà đầu tư, môi giới và những người đang có nhu cầu về mua bán nhà đất một nơi cung cấp dịch vụ, thông tin đầy đủ và nhanh chóng nhất với hàng ngàn tin đăng bán, rao vặt bất động sản tại Quận 12, TP.HCM được cập nhật mới hàng ngày, thông tin minh bạch và đầy đủ.</p>
                </div>
            </div>
        </div>*@
        <div class="row animatedParent animateOnce">
            @if (Model.ListProduct != null && Model.ListProduct.Any())
            {
                var _class = "";
                var _delay = 250;
                foreach (var item in Model.ListProduct)
                {
                    <div class="col-md-4 col-sm-6">
                        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow @_class">
                            <div class="at-property-img">
                                <img src="@Url.Content(item.ImageURL)" alt="" style="width:400px; height:200px">
                                <div class="at-property-overlayer"></div>
                                @Html.ActionLink("Chi Tiết", "PropertiesDetail", "Home", new { id = item.ID }, new { @class = "btn btn-default at-property-btn" })
                                @*<h4>For Sale</h4>*@
                                @if (!string.IsNullOrEmpty(item.Price))
                                {
                                    <h5>@item.Price</h5>
                                }

                            </div>

                            <div class="at-property-location">
                                <p><i class="fa fa-home" aria-hidden="true"> &nbsp;</i>@Html.ActionLink(item.Name, "PropertiesDetail", "Home", new { id = item.ID }, null)</p>
                                <p class="moretext"><i class="fa fa-map-marker" aria-hidden="true"></i> @item.Address</p>
                            </div>
                        </div>
                    </div>
                    _class = "delay-" + _delay + "";
                    _delay = _delay + 250;
                }
            }
            @if (Model.TotalProduct > 6)
            {
                <div class="text-center">
                    @Html.ActionLink("Xem Thêm", "MoreProperties", "Home", null, new { @class = "btn btn-default hvr-bounce-to-right" })
                </div>
            }

        </div>
    </div>
</section>
<!-- Newsletter start from here -->
<section class="at-newsletter-sec jarallax at-over-layer-black">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Đăng ký <span>Thạch Minh</span></h2>
                <p>Chúng tôi sẵn sàng cung cấp thông tin nhanh và chính xác</p>
                <form class="input-group">
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="Nhập địa chỉ Email">
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default at-sub-btn hvr-bounce-to-right" type="submit">
                            Đồng ý
                        </button>
                    </span>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        var showChar = 39;

        $('.moretext').each(function () {
            var content = $(this).text();
            if (content.length > showChar) {
                var html = content.substr(0, showChar);
                html = html + "...";
                $(this).html(html);
            }

        });        
    });
</script>
