@{
    Layout = "~/Areas/ClientSite/Views/Shared/_Layout.cshtml";
}
    <div id="preloader"></div>
    <!-- Inner page heading start from here -->
    <section id="at-inner-title-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="at-inner-title-box">
                        <h2>Properties</h2>
                        <p>
                            <a href="index-one.html">Home</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#">Properties</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <img src="images/title.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Inner page heading end -->
    <!-- Property start from here -->
    <section class="at-property-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="at-property-item at-col-default-mar">
                        <div class="at-property-img">
                            <img src="@Url.Content("~/Images/property/1.jpg")" alt="">
                            <div class="at-property-overlayer"></div>@*@Html.Action("PropertiesDetail", "Home")/Home/PropertiesDetail*@
                            <a class="btn btn-default at-property-btn" href="/Home/PropertiesDetail" role="button">Chi Tiết</a>
                            <h4>For Sale</h4>
                            <h5>$59,999</h5>
                        </div>
                        <div class="at-property-dis">
                            <ul>
                                <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
                                <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
                                <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
                            </ul>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="/Home/PropertiesDetail">New Superb Villa</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 12/1 main Road, Summit, New York</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="at-property-item at-col-default-mar">
                        <div class="at-property-img">
                            <img src="@Url.Content("~/Images/property/2.jpg")" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn" href="/Home/PropertiesDetail" role="button">Chi Tiết</a>
                            <h4 class="at-bg-black">For Rent</h4>
                            <h5 class="at-bg-black">$59,999</h5>
                        </div>
                        <div class="at-property-dis">
                            <ul>
                                <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
                                <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
                                <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
                            </ul>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="/Home/PropertiesDetail">New Superb Villa</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 12/1 main Road, Summit, New York</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="at-property-item at-col-default-mar">
                        <div class="at-property-img">
                            <img src="@Url.Content("~/Images/property/3.jpg")" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn" href="/Home/PropertiesDetail" role="button">Chi Tiết</a>
                            <h4>For Sale</h4>
                            <h5>$59,999</h5>
                        </div>
                        <div class="at-property-dis">
                            <ul>
                                <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
                                <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
                                <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
                            </ul>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="/Home/PropertiesDetail">New Superb Villa</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 12/1 main Road, Summit, New York</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="at-property-item at-col-default-mar">
                        <div class="at-property-img">
                            <img src="@Url.Content("~/Images/property/4.jpg")" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn" href="/Home/PropertiesDetail" role="button">Chi Tiết</a>
                            <h4 class="at-bg-black">For Rent</h4>
                            <h5 class="at-bg-black">$59,999</h5>
                        </div>
                        <div class="at-property-dis">
                            <ul>
                                <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
                                <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
                                <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
                            </ul>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="/Home/PropertiesDetail">New Superb Villa</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 12/1 main Road, Summit, New York</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="at-property-item at-col-default-mar">
                        <div class="at-property-img">
                            <img src="@Url.Content("~/Images/property/5.jpg")" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn" href="/Home/PropertiesDetail" role="button">Chi Tiết</a>
                            <h4>For Sale</h4>
                            <h5>$59,999</h5>
                        </div>
                        <div class="at-property-dis">
                            <ul>
                                <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
                                <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
                                <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
                            </ul>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="/Home/PropertiesDetail">New Superb Villa</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 12/1 main Road, Summit, New York</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="at-property-item at-col-default-mar">
                        <div class="at-property-img">
                            <img src="@Url.Content("~/Images/property/6.jpg")" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn" href="/Home/PropertiesDetail" role="button">Chi Tiết</a>
                            <h4 class="at-bg-black">For Rent</h4>
                            <h5 class="at-bg-black">$59,999</h5>
                        </div>
                        <div class="at-property-dis">
                            <ul>
                                <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
                                <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
                                <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
                            </ul>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="/Home/PropertiesDetail">New Superb Villa</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 12/1 main Road, Summit, New York</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="at-property-item at-col-default-mar">
                        <div class="at-property-img">
                            <img src="@Url.Content("~/Images/property/7.jpg")" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn" href="/Home/PropertiesDetail" role="button">Chi Tiết</a>
                            <h4 class="at-bg-black">For Rent</h4>
                            <h5 class="at-bg-black">$59,999</h5>
                        </div>
                        <div class="at-property-dis">
                            <ul>
                                <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
                                <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
                                <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
                            </ul>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="/Home/PropertiesDetail">New Superb Villa</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 12/1 main Road, Summit, New York</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="at-property-item at-col-default-mar">
                        <div class="at-property-img">
                            <img src="@Url.Content("~/Images/property/8.jpg")" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn" href="/Home/PropertiesDetail" role="button">Chi Tiết</a>
                            <h4>For Sale</h4>
                            <h5>$59,999</h5>
                        </div>
                        <div class="at-property-dis">
                            <ul>
                                <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
                                <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
                                <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
                            </ul>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="/Home/PropertiesDetail">New Superb Villa</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 12/1 main Road, Summit, New York</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="at-property-item at-col-default-mar">
                        <div class="at-property-img">
                            <img src="@Url.Content("~/Images/property/9.jpg")" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn" href="/Home/PropertiesDetail" role="button">Chi Tiết</a>
                            <h4 class="at-bg-black">For Rent</h4>
                            <h5 class="at-bg-black">$59,999</h5>
                        </div>
                        <div class="at-property-dis">
                            <ul>
                                <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
                                <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
                                <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
                            </ul>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="/Home/PropertiesDetail">New Superb Villa</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 12/1 main Road, Summit, New York</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="at-pagination">
                <ul class="pagination">
                    <li>
                        <a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Property End -->
