@{
    Layout = "~/Areas/ClientSite/Views/Shared/_Layout.cshtml";
}
@model ProjectWebSaleLane.Shared.Model.Product.ProductDetailViewModels
    @using ProjectWebSaleLand.Shared
    <div id="preloader"></div>
    <!-- Inner page heading start from here -->
    <section id="at-inner-title-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="at-inner-title-box">
                        <h2>Thông tin chi tiết</h2>
                        <p>
                            @Html.ActionLink("Trang chủ", "Index", "Home", null, null) <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#">@Model.Product.Name</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <img src="images/title.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Inner page heading end -->
    <!-- Property start from here -->
    <section class="at-property-sec at-property-right-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="at-property-details-col">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                   
                                    <img src="@Url.Content(Model.Product.ImageURL)" alt="">
                                    <div class="carousel-caption">
                                        <h2>@Model.Product.Name</h2>
                                    </div>
                                </div>
                                <!-- End Item -->
                                @*<div class="item">
                                    <img src="@Url.Content("~/Images/slider/slider-2.jpg")" alt="">
                                    <div class="carousel-caption">
                                        <h2>nice guest room</h2>
                                    </div>
                                </div>*@
                                <!-- End Item -->
                                @*<div class="item">
                                    <img src="@Url.Content("~/Images/slider/slider-3.jpg")" alt="">
                                    <div class="carousel-caption">
                                        <h2>Well bathroom</h2>
                                    </div>
                                </div>*@
                                <!-- End Item -->
                                @*<div class="item">
                                    <img src="@Url.Content("~/Images/slider/slider-4.jpg")" alt="">
                                    <div class="carousel-caption">
                                        <h2>awesome bedroom</h2>
                                    </div>
                                </div>*@
                                <!-- End Item -->
                            </div>
                            <!-- End Carousel Inner -->
                            @*<ul class="nav nav-pills nav-justified">
                                <li data-target="#myCarousel" data-slide-to="0" class="active">
                                    <a href="#">
                                        <img src="@Url.Content("~/Images/slider/slider-1.jpg")" alt="">
                                    </a>
                                </li>
                                <li data-target="#myCarousel" data-slide-to="1">
                                    <a href="#">
                                        <img src="@Url.Content("~/Images/slider/slider-2.jpg")" alt="">
                                    </a>
                                </li>
                                <li data-target="#myCarousel" data-slide-to="2">
                                    <a href="#">
                                        <img src="@Url.Content("~/Images/slider/slider-3.jpg")" alt="">
                                    </a>
                                </li>
                                <li data-target="#myCarousel" data-slide-to="3">
                                    <a href="#">
                                        <img src="@Url.Content("~/Images/slider/slider-4.jpg")" alt="">
                                    </a>
                                </li>
                            </ul>*@
                        </div>
                        <!-- End Carousel -->
                        <p>@Model.Product.Description </p>
                        <div class="at-sec-title at-sec-title-left">
                            <h2>Property <span>Features</span></h2>
                            <div class="at-heading-under-line">
                                <div class="at-heading-inside-line"></div>
                            </div>
                            <p>Thông tin chi tiết</p>
                        </div>
                        <div class="row at-property-features">
                            <div class="col-md-6 clearfix">
                                <ul>
                                    <li>
                                        Tên : <span class="pull-right">@Model.Product.Name</span>
                                    </li>
                                    <li>
                                        Diện tích : <span class="pull-right">@Model.Product.Acreage</span>
                                    </li>
                                    @if (Model.Product.Type == (int)Commons.EProductType.House)
                                    {
                                        <li>
                                            Phòng ngủ : <span class="pull-right">@Model.Product.BedRoom</span>
                                        </li>
                                        <li>
                                            Phòng tắm : <span class="pull-right">@Model.Product.BathRoom</span>
                                        </li>
                                        <li>
                                            Phòng khách : <span class="pull-right">@Model.Product.LivingRoom</span>
                                        </li>
                                    }
                                    <li>
                                        Chiều dài : <span class="pull-right">@Model.Product.Length</span>
                                    </li>
                                    <li>
                                        Chiều rộng : <span class="pull-right">@Model.Product.Width</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li>
                                        Khu vực: <span class="pull-right">@Model.Product.Location</span>
                                    </li>
                                    <li>
                                        Điện thoại : <span class="pull-right"> @Model.Product.Phone</span>
                                    </li>
                                    <li>
                                        Địa chỉ : <span class="pull-right">@Model.Product.Address</span>
                                    </li>

                                    <li>
                                        Điện thoại 2 : <span class="pull-right">@Model.Product.Phone1</span>
                                    </li>
                                    <li>
                                        Địa chỉ 2 : <span class="pull-right">@Model.Product.Address1</span>
                                    </li>
                                    <li>
                                        Điện thoại 3 : <span class="pull-right">@Model.Product.Phone2</span>
                                    </li>
                                    <li>
                                        Địa chỉ 3 : <span class="pull-right">@Model.Product.Address2</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="at-sidebar at-col-default-mar">
                        <div class="at-sidebar-search at-sidebar-mar">
                            <form method="post">
                                <div class="input-group">
                                    <input placeholder="Tìm kiếm....." class="form-control" name="search-field" type="text">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="at-categories clearfix">
                            <h3 class="at-sedebar-title">Danh Mục</h3>
                            <ul>
                                @if (Model.ListLocation != null && Model.ListLocation.Any())
                                {
                                    foreach (var itemLocation in Model.ListLocation)
                                    {
                                        <li>
                                            <a href="#">@itemLocation.Name</a> <span class="pull-right">(@itemLocation.Total)</span>
                                        </li>
                                    }
                                }


                                @*<li>
                                    <a href="#">modern design</a> <span class="pull-right">(08)</span>
                                </li>
                                <li>
                                    <a href="#">best design</a> <span class="pull-right">(29)</span>
                                </li>
                                <li>
                                    <a href="#">popular design</a> <span class="pull-right">(33)</span>
                                </li>
                                <li>
                                    <a href="#">strong building</a> <span class="pull-right">(23)</span>
                                </li>
                                <li>
                                    <a href="#">old design</a> <span class="pull-right">(22)</span>
                                </li>
                                <li>
                                    <a href="#">popular design</a> <span class="pull-right">(29)</span>
                                </li>
                                <li>
                                    <a href="#">best design</a> <span class="pull-right">(11)</span>
                                </li>*@
                            </ul>
                        </div>
                        <div class="at-latest-news">
                            <h3 class="at-sedebar-title">Tin Cũ</h3>
                            <ul>
                                @if (Model.ListProduct != null && Model.ListProduct.Any())
                                {
                                    foreach (var item in Model.ListProduct)
                                    {
                                        <li>
                                            <div class="at-news-item">
                                                <img src="@Url.Content(item.ImageURL)" alt="" style="height:44px">
                                                <h4><a href="#">@item.Name</a></h4>
                                                <p>@item.Description</p>
                                            </div>
                                        </li>
                                    }
                                }
                                @*<li>
                                    <div class="at-news-item">
                                        <img src="@Url.Content("~/Images/blog/s1.jpg")" alt="">
                                        <h4><a href="#">Popular building design</a></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis unde</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="at-news-item">
                                        <img src="@Url.Content("~/Images/blog/s2.jpg")" alt="">
                                        <h4><a href="#">Best building design</a></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis unde</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="at-news-item">
                                        <img src="@Url.Content("~/Images/blog/s3.jpg")" alt="">
                                        <h4><a href="#">Building in city</a></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis unde</p>
                                    </div>
                                </li>*@
                            </ul>
                        </div>
                        <div class="at-preview">
                            <h3 class="at-sedebar-title">preview</h3>
                            <img src="@Url.Content("~/Images/property/preview.jpg")" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Property End -->