@*@using ProjectWebSaleLand.Web.App_Start;*@
@{
    var user = Session["User"] as ProjectWebSaleLand.Shared.Models.UserSession;
}

<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>&nbsp;</h3>
        <ul class="nav side-menu">
            <li id="">
                <a><i class="fa fa-cogs"></i>QUẢN LÝ<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Index", "Land", new { area = "" })">ĐẤT</a></li>   
                    <li><a href="@Url.Action("Index", "House", new { area = "" })">NHÀ</a></li> 
                    <li><a href="@Url.Action("Index", "Category", new { area = "" })">THỂ LOẠI</a></li>
                    <li><a href="@Url.Action("Index", "Location", new { area = "" })">KHU VỰC</a></li>    
                    <li><a href="@Url.Action("Index", "Employee", new { area = "" })">NHÂN VIÊN</a></li>
                    <li><a href="@Url.Action("Index", "Customer", new { area = "" })">KHÁCH HÀNG</a></li>
                </ul>
            </li>  
        </ul>
    </div>
</div>
<script>
    $(document).ready(function () {
        
    });
</script>

