@*For footer*@
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="at-footer-about-col at-col-default-mar">
                @*<div class="at-footer-logo">
                    <img src="images/footer-logo.png" alt="">
                </div>*@
                <hr>
                @*<p>MST: 0100255844, cấp ngày : 11/12/2008 Trụ sở chính: 28-30 đường số TL 19, An Phúc Đông, P.Tân Phong, Quận 12, TP. Hồ Chí Minh</p>*@
                <p>Nhà Đất Thạch Minh TL 19, Khu phố 3C, Phường Thạch Lộc, Quận 12, TP.Hồ Chí Minh</p>
                <div class="at-social text-left">
                    <a href="https://www.facebook.com/giadinhtat.pham?fref=pb&hc_location=friends_tab"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    @*<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>*@
                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="at-footer-link-col at-col-default-mar">
                <h4>Chúng tôi</h4>
                <div class="at-heading-under-line">
                    <div class="at-heading-inside-line"></div>
                </div>
                <ul>
                    <li>
                        <a href="@Url.Action("Index","Home")">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#">Thông tin</a>
                    </li>
                    @*<li>
                        <a href="properties-col-3">properties</a>
                    </li>
                    <li>
                        <a href="agents.html">Agents</a>
                    </li>*@
                    <li>
                        <a href="#">Diễn đàn</a>
                    </li>
                </ul>
            </div>
        </div>
        @*<div class="col-lg-3 col-md-6 col-sm-12">
            <div class="at-footer-Tag-col at-col-default-mar">
                <h4>Tags</h4>
                <div class="at-heading-under-line">
                    <div class="at-heading-inside-line"></div>
                </div>
                <div class="at-tag-group clearfix">
                    <a class="hvr-bounce-to-right at-bg-hvr" href="#">WEB DESIGN</a>
                    <a class="hvr-bounce-to-right" href="#">HTML</a>
                    <a class="hvr-bounce-to-right" href="#">RESPONSIVE</a>
                    <a class="hvr-bounce-to-right" href="#">PHP</a>
                    <a class="hvr-bounce-to-right" href="#">JQUERY</a>
                    <a class="hvr-bounce-to-right" href="#">JAVASCRIPT</a>
                    <a class="hvr-bounce-to-right" href="#">ANIMATION</a>
                    <a class="hvr-bounce-to-right" href="#">CSS</a>
                </div>
            </div>
        </div>*@
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="at-footer-gallery-col at-col-default-mar">
                <h4>Nhà Đất Thạch Minh</h4>
                <div class="at-heading-under-line">
                    <div class="at-heading-inside-line"></div>
                </div>
                <div class="at-gallery clearfix">
                    <!--portfolio single img end-->
                    <ul>
                        <li>
                            <a class="thumbnail gallery" href="@Url.Content("~/Images/gallery/1.jpg")">
                                <img src="@Url.Content("~/Images/gallery/1.jpg")" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="thumbnail gallery" href="@Url.Content("~/Images/gallery/2.jpg")">
                                <img src="@Url.Content("~/Images/gallery/2.jpg")" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="thumbnail gallery" href="@Url.Content("~/Images/gallery/3.jpg")">
                                <img src="@Url.Content("~/Images/gallery/3.jpg")" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="thumbnail gallery" href="@Url.Content("~/Images/gallery/4.jpg")">
                                <img src="@Url.Content("~/Images/gallery/4.jpg")" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="thumbnail gallery" href="@Url.Content("~/Images/gallery/5.jpg")">
                                <img src="@Url.Content("~/Images/gallery/5.jpg")" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="thumbnail gallery" href="@Url.Content("~/Images/gallery/6.jpg")">
                                <img src="@Url.Content("~/Images/gallery/6.jpg")" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>