<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> HOMY | Boostrap Responsive HTML5 Template</title>
    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
    <!-- Needed CSS -->
    <link href="@Url.Content("~/Content/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/icofont.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/bootstrap-dropdownhover.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/featherlight.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/featherlight.gallery.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/hover.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/flexslider.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/owl.carousel.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/owl.theme.default.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/slick.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/slick-theme.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/jquery-ui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/animations.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/animate.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/morphext.css")" rel="stylesheet" />


    <!-- Main stylesheet  -->
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" />
    <!-- Responsive stylesheet  -->
    <link href="@Url.Content("~/Content/css/responsive.css")" rel="stylesheet" />
    <!-- Favicon -->
    <link href="images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="images/apple-icon.png" rel="icon" type="image/png">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <section class="at-main-herader-sec">
        <!-- Header top start -->
        <div class="at-header-topbar">
            @Html.Partial("_header")
        </div>
        <!-- Header top end -->
        <!-- Header navbar start -->
        <div class="at-navbar fixed-header">
            @Html.Partial("_topNavigation")
        </div>
        <!-- Header navbar end -->
</section>



    @*Body*@
    <div>
        @RenderBody()
    </div>
    @*End Body*@

    <!-- footer start from here -->    
    <footer class="at-main-footer at-over-layer-black">
        @Html.Partial("_footer")        
    </footer>
    <!-- footer end -->

    <!-- Copyright start from here -->
    <section class="at-copyright">
        <div class="container">
            <div class="row">
                @*<p>Copyright @DateTime.Now.Year.ToString() <a href="https://themeforest.net/user/awesome_theme">Awesome_Theme</a> All Rights Reserved</p>*@
                <p>@DateTime.Now.Year.ToString() <a href="#">Nhà Đất Thạch Minh</a> TL 19, Khu phố 3C, Phường Thạch Lộc, Quận 12, TP.Hồ Chí Minh</p>
            </div>
        </div>
    </section>
    <!-- Copyright end -->
    <script src="@Url.Content("~/Scripts/js/jquery.min.js")"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Scripts/js/bootstrap.min.js")"></script>
    <!-- all plugins and JavaScript -->
    <script src="@Url.Content("~/Scripts/js/css3-animate-it.js")"></script>
    <script src="@Url.Content("~/Scripts/js/bootstrap-dropdownhover.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/featherlight.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/featherlight.gallery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/jquery.flexslider.js")"></script>
    <script src="@Url.Content("~/Scripts/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/jarallax.js")"></script>
    <script src="@Url.Content("~/Scripts/js/slick.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Scripts/js/jquery-scrolltofixed-min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/morphext.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/dyscrollup.js")"></script>
    <script src="@Url.Content("~/Scripts/js/jquery.ripples.js")"></script>
    <script src="@Url.Content("~/Scripts/js/app.js")"></script>
    <!-- Validate -->
    <script src="@Url.Content("~/Scripts/js/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/js/validator.js")"></script>
    <script src="@Url.Content("~/Scripts/js/jcommon.js")"></script>

    <!-- Main Custom JS -->
    <script src="@Url.Content("~/Scripts/js/main.js")"></script>
</body>
</html>
