@model ProjectWebSaleLand.Shared.Model.Customer.CustomerModels
@{
    ViewBag.Title = "Khách hàng - Thêm";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<div role="main" class="right_col">
    <div class="se-pre-con" style="display: none;"></div>
    <div class="">
        <div class="page-title">
            <div class="title_left" style="padding:10px 0px;">
                @Html.Partial("~/Areas/Administration/Views/Shared/_breadcrumb.cshtml",
                    new Dictionary<string, string> { { "A", "Quản lý" }, { "B", "Khách hàng" }, { "C", "Thêm mới" } })
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                    <div class="x_title">
                        @Html.Partial("_TabMenu", "create")
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row text-right">
                            <ul class="header-buttons pull-right list-inline">
                                <li><a href="javascript:void(0)" class="btn btn-success" id="btn-actives" onclick="SubmitForm('.create-form')"><i class="fa fa-save"></i>&nbsp;Lưu</a></li>
                                <li><a href="@Url.Action("Index","Customer")" class="btn btn-danger" id="btn-delete"><i class="fa fa-times"></i>&nbsp;Hủy</a></li>
                            </ul>
                        </div>
                        <div class="box-body" style="display: block;">
                            @using (@Html.BeginForm("Create", "Customer", FormMethod.Post, new { @class = "form-horizontal create-form", @enctype = "multipart/form-data" }))
                            {
                                @Html.Partial("_Form", Model)
                            }
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function SubmitForm(form) {
        $(form).submit();
    }

    $(document).ready(function () {
            $('.datepicker').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_2",
                maxDate : new Date()
            });

            $("#GenderStatusDdl").select2({
                placeholder: "làm ơn chọn giới tính",
                //allowClear: true
            });

            $("#MaritalStatusDdl").select2({
                placeholder: "Tình trạng hôn nhân!",
                //allowClear: true
            });
        });
</script>

